.top {
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  margin-top: 0;

  .menuItem {
    font-size: 1.1em;
    text-align: center;
    width: 100%;
    margin-bottom: 0.2em;
    color: rgb(105, 104, 104);
    cursor: pointer;

    
    a:hover {
      color: whitesmoke;
    }

    a span {
      padding-top: 0.5em;
      padding-bottom: 0.5em;
      color: rgb(105, 104, 104);

      &:hover {
        color: whitesmoke;
      }
      
    }
  }
  
  .menuItemActive a span {
    width: 100%;
    color: whitesmoke;
    border-left: 0.15em solid;
  }
}
