.files {
  margin-left: 1em;
  margin-top: 2em;
  overflow-y: scroll;
  scrollbar-width: thin;
  margin-bottom: 1.6em;
  display: flex;
  flex-direction: column;

  .file {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .entryTitle {
    font-weight: 700;
    color: lightgray;
    font-family: Arial, Helvetica, sans-serif;
    border-bottom: 1px outset whitesmoke;
  }
}
.infoCard img {
  display: flex;
  height: 15em;
  border-radius: 50%;
  border: 6px outset #1c6ea4;
  justify-content: center;
}
